<style>
    .btn-avi{
  transition: ease-out 1s;
}
.btn-avi:hover{
    border-radius:50px;
    background: #DC2424;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4A569D, #DC2424);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4A569D, #DC2424); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body{
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>
<br>

<div class="text-center mt-5" style="width: 50%;margin: auto;margin-top: 10%;">
   
  <h1 class="h3 mb-3 font-weight-normal " style="color: red;">Sign in</h1>
  
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="text" id="email" name="email" style="width: 30%;margin: auto;margin-bottom: 1%;" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" name="password" class="form-control " style="width: 30%;margin: auto;margin-bottom: 1%;" placeholder="Password" required="">
  <div class="checkbox mb-3">
    
  </div>
  
  <button class="btn btn-lg btn-danger btn-block btn-avi" style="width: 30%;margin: auto;margin-bottom: 1%;" type="submit">Sign in</button>
<p class="mt-2">Don't have an account?  </p>
  


</div>
