<div class="topnav" >
    <div class="brand">
        <a routerLink=""> Angular App</a>
     </div>
    <div class="toplinks">
        <nav>
            
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a  routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a  routerLinkActive="active" routerLink="/about">About</a>
                </li>
                <li class="nav-item">
                    <a  routerLinkActive="active" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a  routerLinkActive="active" routerLink="/technology">Technology</a>
                </li>
                <li class="nav-item">
                    <a  routerLinkActive="active" routerLink="/applyforjob">Apply for Job</a>
                </li>
            </ul>
        </nav>        
    </div>
</div>
