<br>

<br>
<div class="page-area">
<div class="container">
    <div class="row">
        <h1>Apply for Job</h1><br>
        <div class="col-md-10">
            <div class="table">
                <tr>
                    <td><b>Your Name : &nbsp;</b></td>
                    <td>
                        <input type="text" placeholder="First Name" class="form-control">
                    </td>
                    &nbsp;
                    <td>
                        <input type="text" placeholder="Middle Name" class="form-control">
                    </td>
                    &nbsp;
                    <td>
                        <input type="text" placeholder="Last Name" class="form-control">
                    </td>
                </tr>
                &nbsp;
                <tr>
                    <td><b>Email Address : &nbsp;</b></td>
                    <td>
                        <input type="email" placeholder="Email Address" pattern="^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Enter valid Email Address" class="form-control">
                    </td>
                </tr>
                &nbsp;
                <tr>
                    <td><b>Contact No : &nbsp;</b></td>
                    <td>
                        <input type="number" placeholder="Contact Number" pattern="[0-9]" title="Enter Valid Contact" class="form-control">
                    </td>
                </tr>
                &nbsp;
                <tr>
                    <td><b>Technology Name : &nbsp;</b></td>
                    <td>
                        <input type="checkbox" name=""  > &nbsp; PHP &nbsp;
                        <input type="checkbox" name="" > &nbsp; Angular Js &nbsp;
                        <input type="checkbox" name="" > &nbsp; Java Script &nbsp;
                        <input type="checkbox" name="" > &nbsp; Wordpress &nbsp;
                    </td>
                </tr>
                <br>
                <tr>

                    <td>
                        <button class="btn btn-success">Submit</button>
                    </td>
                </tr>
            </div>
        </div>
    </div>
</div>
</div>